<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <p>locais</p>
      
      <mat-nav-list class="nav-list">
        <a mat-list-item><i class="material-icons v-midle">home</i>Inicio</a>
        <a mat-list-item><i class="material-icons v-midle">apartment</i>Apartamentos</a>
    </mat-nav-list>
      
      <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
      
      
      
      <button (click)="showFiller = !showFiller" mat-raised-button>
        Toggle extra text
      </button>
    </mat-drawer>
  
    
  
  </mat-drawer-container>
  